:root{

    --darkTeal: #4D869C;
    --midTeal: #7AB2B2;
    --lightestBlue: #EEF7FF;
    --lightBlue: #CDE8E5;
}


/*  HEADER  */

header{
    width:100%;
    background-color: var(--darkTeal);
    color:var(--lightestBlue);
}

header ul{
    text-align:end;
    padding-bottom: 20px;
}

header li{
    display:inline;
    margin-right: 20px;
}

header a{
    color:var(--lightestBlue);
}

header h1{
    display:inline;
    padding: 5px 5px 5px 30px;
    color: var(--darkTeal);
    background-color: var(--lightestBlue);
    font-size: 200%;

}

/* BODY */

body{
    background-color: var(--lightestBlue);
}

/* HERO */

.hero{

/* Code referenced from: https://www.w3schools.com/howto/howto_css_hero_image.asp */
  background-image: url("../images/computerImg.jpg");
  height: 20%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-bottom: 100px;

}

/* MAIN INFO SECTIONS */

.infoblock{
    position:relative;
    margin-left: 20%;
    margin-bottom: 100px;
}


.work-list{
    display:flex;
}




