:root{

    --darkTeal: #4D869C;
    --midTeal: #7AB2B2;
    --lightestBlue: #EEF7FF;
    --lightBlue: #CDE8E5;
}

@font-face {
    font-family: 'raleway';
    src: url('../fonts/webfontkit-20240601-161344/raleway-medium-webfont.woff2') format('woff2'), 
         url('../fonts/webfontkit-20240601-161344/raleway-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html{
    font-family: 'raleway','Courier New', Courier, monospace;
}

/*  HEADER  */

header{
    width:100%;
    background-color: var(--darkTeal);
    color:var(--lightestBlue);
}

header ul{
    text-align:end;
    padding-bottom: 20px;
}

header li{
    display:inline;
    margin-right: 20px;
}

header a{
    color:var(--lightestBlue);
}

header a:hover{
    color:var(--midTeal);
}

header h1{
    display:inline;
    padding: 5px 5px 5px 30px;
    color: var(--darkTeal);
    background-color: var(--lightestBlue);
    font-size: 300%;

}

/* BODY */

body{
    background-color: var(--lightestBlue);
}

/* HERO */

.hero{

/* Code referenced from: https://www.w3schools.com/howto/howto_css_hero_image.asp */
  background-image: url("../images/computerImg.jpg");
  height: 20%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-bottom: 100px;

}

/* MAIN INFO SECTIONS */

.infoblock{
    position:relative;
    margin-left: 20%;
    margin-bottom: 100px;
}

.infoblock h2 {
    font-size: 200%;
    float:left;
    margin-right: 40px;
    color: var(--darkTeal);
}


/* PORTFOLIO STYLING */

.work-list{
    display:flex;
    flex-wrap: wrap;
    width: 800px;
    row-gap: 25px;
    justify-content: center;
    align-items: center;

}

.ex{
    width: 400px;
    height: 250px;
    flex: 0 0 46%;
    position:relative;
    margin:auto;

}

.ex img{
    width:100%;
    height:100%;
    object-fit: cover;
    border: var(--darkTeal) 10px solid;
}

.ex img:hover{
    filter:grayscale(1.3);
}


#prime{
    flex: 1 0 100%;
}

.ex h3{
    text-decoration:none;
    background-color: var(--darkTeal);
    display:inline;
    position:absolute;
    left:0;
    top:50%;
    font-size: 150%;
    color:var(--lightestBlue);
    margin-left: 10px;
    padding: 7px;
    
}


















