:root{

    --darkTeal: #4D869C;
    --midTeal: #7AB2B2;
    --lightestBlue: #EEF7FF;
    --lightBlue: #CDE8E5;
}

*{
    margin:0;
    padding:0;
}

header{
    width:100%;
    background-color: var(--darkTeal);
    color:var(--lightestBlue);
}

header ul{
    text-align:end;
    padding-bottom: 20px;
}

header li{
    display:inline;
    margin-right: 20px;
}

header a{
    color:var(--lightestBlue);
}

header h1{
    display:inline;
    padding: 5px 5px 5px 30px;
    color: var(--darkTeal);
    background-color: var(--lightestBlue)

}